name: Deploy React App

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: npm run build

      - uses: actions/upload-pages-artifact@v1
        with:
          path: build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - id: deployment
        uses: actions/deploy-pages@v1
